@import '../../assets/scss/variables.scss';

.cartContainer{
    display: flex;
    gap: 5rem;
    & > :nth-child(1){
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & > :first-child{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            & > :first-child{
                font-weight: 600;
            }
            & > :last-child{
                display: flex;
                justify-content: space-between;
            }
        }
        & > :nth-child(3){
            display: flex;
            justify-content: space-between;
        }
        .cartItemContainer{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
    & > :nth-child(2){
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-self: start;
        .cartSummary{
            text-transform: uppercase;
            border: 1px solid black;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            & > :first-child{
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-weight: 600;
                font-size: 1.35rem;
                font-style: italic;
            }
            & > :nth-child(2){
                display: flex;
                flex-direction: column;
                gap: 1rem;
                & > * {
                    display: flex;
                    justify-content: space-between;
                }
                & > :last-child{
                    font-weight: 600;
                }
                
            }
        }
        & > :last-child{
            font-weight: 600;
        }
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}

.cartItem{
    border: 1px solid black;
    height: 180px;
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
    padding-right: 2.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    & > :first-child{
        height: 100%;
        aspect-ratio: 1;
        img{
            height: 100%;
            object-fit: contain;
            border-right: 1px solid black;
            padding-right: 0.5rem;
        }
    }
    & > :nth-child(2){
        padding: 1rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    & > :last-child{
        padding: 1rem 0;
        height: 100%;
        width: 125px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        font-weight: 500;
        & > :last-child{
            display: flex;
            font-size: 1.25rem;
            gap: 1rem;
        }
    }
}

.cartEmptyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    h2{
        font-size: 2rem;
        font-weight: 600;
    }
}

.cartModal{
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input{
            height: 40px;
            border: 1px solid black;
            width: 250px;
        }
        button{
            height: 40px;
            padding: 0 0.5rem;
            width: fit-content;
            background-color: black;
            color: white;
            display: flex;
            gap: 5rem;
            align-items: center;
            position: relative;
            cursor: pointer;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .successMessage{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}
