@import '../../assets/scss/variables.scss';

.btnNormal{
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem;
    border: 2px solid;
    transition: all 0.15s linear;
    text-align: center;
    width: fit-content;
    &:hover{
        background: $main-blue;
        border-color: $main-blue;
        color: white;
    }
}

// Button Themes

.btnBlack{
    color: black;
}

.btnWhite{
    color: white;
}

.btnBlue{
    color: $main-blue;
}

.btnSelected{
    background: $main-blue;
    border-color: $main-blue;
    color: white;
}

