$borderGrey : rgb(217, 217, 217);

.itemCard{
    border: $borderGrey 1px solid;
    width: 220px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    .itemCard-img{
        height: 180px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img{
            height: 100%;
            object-fit: contain;
        }
    }
    .itemCard-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden; 
        gap: 1rem;
        .itemCard-price{
            font-weight: 600;
            font-size: 1.1rem
        }
    }
};