@import '../../assets/scss/variables.scss';

.itemListContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
    color: $main-blue;
    & > *{
        display: flex;
        justify-content: space-between;
    }
}