.modal-container{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.349);
    transition: all 0.5s linear;
    & > :first-child{
        height: 80%;
        width: 80%;
        background-color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & > :first-child{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                text-transform: uppercase;
                font-family: 'Barlow Semi Condensed';
                font-style: italic;
                font-size: 1.8rem;
                font-weight: 600;
            }
            button{
                font-family: sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                &:hover{
                    color: grey;
                }
            }
        }
    }
}